* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7fb;
    color: #333;
}

.main-content {
    padding: 30px;
}

header {
    grid-column: 1 / -1;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(135deg, #007bff22, #ffffff00);
    margin-bottom: 30px;
}
  
header h2 {
    color: #007bff;
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}

.container {
    padding: 30px;
    border-radius: 12px;
    margin: 0;
}

.section {
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 35px;
}

.section h2{
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stat {
    text-align: center;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.stat h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.stat p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #007bff;
}

ul {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
}

ul li strong {
    color: #007bff;
}

.progress {
    margin-top: 20px;
    background: #e0e0e0;
    border-radius: 10px;
    height: 18px;
    overflow: hidden;
}
  
.progress > div {
    background: #007bff;
    height: 100%;
}

hr {
    border: none;
    height: 2px;
    background: #686868c3;
    margin: 10px 0;
    border-radius: 40%;
}

.side-by-side {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.side-by-side .section {
    flex: 1;
    min-width: 300px;
}