#menu {
  width: 100%;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  background-color: #007bff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  flex-wrap: nowrap;
  border-radius: 12px;
  margin: 16px;
  color: white;
  }
  
.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.navbar-menu {
  display: flex;
  gap: 18px;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 1.3vw, 18px);
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s;
}

.navbar-menu a:hover {
  background-color: rgba(255, 255, 255, 0);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.navbar-menu-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  flex-shrink: 0;
}