* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f7fb;
  color: #333;
}

.main-content {
  padding: 30px;
}

.order-form {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  margin-top: 40px;
}

.order-form h2{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #007bff;
}
.column {
  flex: 1;
  min-width: 300px;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.submit-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.submit-btn {
  background-color: #007bff;
  color: white;
  min-width: 180px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

p {
  margin-bottom: 12px;
}